<app-cover></app-cover>
<div id="content">
    <div class="container">
<div class= "main_bottom">
    <div class = "info_txt">
      <div class = "info_txt1">
        생육환경 분석 IoT 장비를 통한 <br>
        스마트 양식장, 아쿠아고
      </div>
  
      <div class = "info_txt2">
        양식장 자동 제어, 모니터링 서비스 <br>
        양식어종의 최적 생육 환경을 위한 플랫폼
      </div>
    </div>
  
    <div class = "home_buttons">
    <div class = "login_button">
        <a [routerLink]="['/login']">
            <button type="button" class="btn btn-primary">로그인 하기</button>
        </a>
    </div>
  
    <div class ="join_button">
        <a [routerLink]="['/join']">
            <button type="button" class="btn join">회원가입</button>
        </a>
    </div>
    </div>
    </div>
</div>
</div>