<app-cover></app-cover>
<div id="content">
    <div class="container">

<!-- <div class="alert alert-danger" role="alert" *ngIf="message">
    {{message}}
</div>  -->

<!-- <form class="form-inline" *ngIf="!authService.getUser()"> -->
<form class="form-inline joinform">
    <div class="form-group">
        <label for="username">아이디</label>
        <input class="form-control" name="username" placeholder="이메일" #username>
    </div>

    <div class="form-group">
        <label for="password">비밀번호</label>
        <input class="form-control" type="password" name="password" placeholder="비밀번호" #password>
    </div>

    <div class="form-group">
        <label for="password">비밀번호 재확인</label>
        <input class="form-control" type="password" name="password" placeholder="비밀번호" #password>
    </div>

    <h3 class="backword">계정이 있으신가요? <a [routerLink]="['/login']" style="color: black"><b>돌아가기</b></a></h3>

</form>
<a class="btn btn-primary joinbtn" >
    가입하기
</a>
</div>
</div>

